html,
body {
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('wall-wallpaper.jpg');
}


/*preloader*/
.preloader
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: white;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
}
/*end od preloader*/
.active
{
    text-decoration:underline red;
}
.logo
{
    height: 40px;
    margin-top: -10px;
}
.navbar navbar-inverse
{
    margin-top: 100px;
}
.active .type16 {
    transform: rotate(360deg);
    transition: all 0.6s ease-in-out; 
}
.active .type16:before {
      left: 6px;
      transform: translateY(6px) rotate(-45deg); 
}

.active .type16:after {
      left: 6px;
      transform: translateY(-8px) rotate(45deg); 
}
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  
  .block {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; 
    transition: all 1s ease;
   background-image: linear-gradient(90deg, #fd5581, #fd8b55);
   box-shadow: 0 2px 18px 0 rgba(248, 94, 122, 0.39), 0 1px 2px 0 rgba(248, 91, 124, 0.33);   
  }
  
  .cta {
    height: 50px;
    width: 50px;
    cursor: pointer; }
  
  .toggle-btn {
    height: 2px;
    width: 25px;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 0;
    margin: auto;
    transition: all 0.3s ease-in-out; }
    .toggle-btn:before {
      content: "";
      height: 2px;
      width: 25px;
      box-shadow: 0 -10px 0 0 #fff;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out; }
    .toggle-btn:after {
      content: "";
      height: 2px;
      width: 25px;
      box-shadow: 0 10px 0 0 #fff;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out; }
      .block
      {
          display: none;
          cursor: pointer;
      }
      #con
      {
        transition: all 1s linear;
        display: block;

      }
      @media screen and (max-width:770px)
      {
          
          .block{
                display: block;
                margin-left: 80%;
                cursor: pointer;
          }
          #con
          {
              display: none;
          }
          
      }

      /*For Image*/
      .carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
  height: 100%;
  background: #000;
}

.carousel-caption{padding-bottom:80px;}

h2{font-size: 60px;}
p{padding:10px}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:0.6;
}




/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 3s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*


*/

@keyframes fadeInRight {
  from 
  {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to
  {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight 
{
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
    
.img_carousel
{
    height: 80vh;
}
.values
{
    background: gray;
    
}
.world
{
    height: 300px;
    
}


.sub
{
  border: 2px solid black;
}

.container1 div
{
 
  padding: 10px;
  color: white;
}
.card
{
  background: black;
}

.box1
{
  flex:1;
  order: 2;
  text-align: center;
}
.box2
{
  flex:1;
  order: 3;
  text-align: center;
}
.box3
{
  flex:1;
  order: 1;
  text-align: center;
}

.container1 .box1:hover
{
  flex: 2;
}
.container1 .box1:hover .box2
{
  margin-left: 0
}
.container1 .box2:hover
{
  flex: 2;
}
.container1 .box3:hover
{
  flex: 2;
}

.card-img-top
{
  width: 230px;
}
.card
  {
    margin-left: 5%;
    width: 25rem;
  }
@media(min-width:768px)
{
  .container1
  {
    display: flex;
    
  }
  
}
@media(min-width:768px) and (max-width:900px)
{
  .card
  {
    width: 20rem;
  }

}

@media(min-width: 400px)
{
  .card
  {
    margin-left: 20%;
  }
}



.card:hover
{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.welcome
{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  margin-top: -1.3%;
}

.welcome h2
{
  text-align: center;
  color: red;
  text-decoration: underline yellow ;
  
}
.welcome p{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  text-align: justify;
  color: white;
}

.social_logo
{
  margin-top: 25px;
  height: 30px;
}
@media (max-width:767px)
{
.social
{
  display: none;
}
}
@media(min-width: 768px)
{
  .social
  {
    display: block;
    border: #fd5581;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    margin-top: 35vh;
    
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 25vh;
    background: #000;
    position: fixed;
  }
  .unorder
  {
    list-style: none;
  }
  .social_logo
  {
    margin-left: -30px;;
    margin-top: 25px;
    height: 30px;
  }
  .social_logo:hover{
    height: 40px;
  }
  .unorder:hover{
    margin-left: 0;
  }
  .social:hover
  {
    width: 90px;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5));
  }
}